html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin-right: 10px;
}

td {
    text-align: center;
    margin: 0px;
    border: 2px solid #607d8b;
    padding: 0px;
    width: 70px;
    height: 70px;
}

#opcion {
    border: 1px solid black;
    width: 70px;
    height: 70px;
}

.elemento {
    width: 70px;
    height: 70px;
    text-align: center;
    cursor: pointer;
}

.elemento[data-saved='true'] {
    background: url('happy.png');
    background-size: contain;
}

.blue {
    background: #2196f3;
}
.red {
    background: #e53935;
}
.purple {
    background: #7b1fa2;
}
.amber {
    background: #ffa000;
}
.green {
    background: #64dd17;
}
.pink {
    background: #f50057;
}
.teal {
    background: #1de9b6;
}
.yellow {
    background: #ffeb3b;
}
